*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container
{
    width: 100%;
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px dotted red;

}
.menu
{
    width: 20%;
    height: 80vh;
    background-color: #11ff22;
    color: white;
}
.div
{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    text-align: center;
}